@import "../base";
.borrow{
	padding-top:2.5rem;
	color:#999;
	font-size:.9rem;
	.content{
		padding-left:1rem;
		border-bottom: 1px solid $borderColor;
		background: #fff;
		.amount{
			border-bottom:1px solid $borderColor;
			padding:1rem 0;
			label{
				display: block;
			}
			h3{
				font-size: 4rem;
				line-height: 1.5rem;
				padding-top: 1rem;
				padding-left: 2.5rem;
				position: relative;
				input{
					border:none;
					color: $blue;
					width: 100%;
				}
			}
			h3:before{
				color: $blue;
				font-size: 2rem;
				position: absolute;
				left: 0;
				bottom:1.5rem;
			}
		}
		.perid{
			padding:1rem 1rem 1rem 0;
			border-bottom:1px solid $borderColor;
			margin-bottom: -1px;
			label{
				display: block;
				line-height: 1.5rem;
				padding-bottom:1rem;
			}
			.flexbox{
				display:-webkit-box;
			    display:-webkit-flex;
			    display:-ms-flexbox;
			    display:flex;
			    -webkit-box-pack:justify;
			    -webkit-justify-content:space-between;
			    -ms-flex-pack:justify;
			    justify-content:space-between;
			    li{
			    	text-align: center;
					display: inline-block;
					padding:.5rem 0;
					color: #555;
					flex: 1;
					margin-right:1rem;
					border-radius:2px;
					background:#e2e6e9;
					
				}
				li.enabled{
					background:$blue;
					color: #fff;
				}
				li:last-child{
					margin-right: 0;
				}
			}
			
		}

		
		.bank{
			padding-bottom:.5rem;
			.serivce{
				border-bottom:1px solid $borderColor;
				padding-top:1rem;
				margin-bottom: 1rem;
				.row{
					padding-bottom:1rem;
					label{
						display: inline-block;
						width: 5rem;
					}
				}
			}
			label{
				display: block;
				line-height: 1.5rem;
			}
			.item{
				position: relative;
				padding:1rem 1rem 1rem 2rem;
				line-height: 1.5rem;
				.iconfont{
					float: right;
				}
				img{
					width: 1.5rem;
					height: 1.5rem;
					position: absolute;
					top:.9rem;
					left: 0;
				}
			}
			.item.add{
				padding-left:0;
			}
		}
	}
	.btn{
		margin: 2rem 1rem;
	}

	.popup_bank{
    	.title{
    		text-align: center;
    		font-size: 1.2rem;
    		color: #555;
    		line-height: 2rem;
    		padding:.7rem;
    		border-bottom: 1px solid $borderColor;
    		position: relative;
    		span{
    			position: absolute;
    			padding:1.7rem;
    			margin-right: .5rem;
    			font-size: 2rem;
    			right: 0;
    			top: 0;
    			background:url(/static/img/ic_close.png) no-repeat center;
    			background-size:40%;
    		}
    	}
    	ul{
    		padding-left: 1rem;
    		padding-bottom:.5rem;
    	}
    	li{
    		position: relative;
    		// background-repeat:no-repeat;
    		// background-position:left center;
    		// background-size:auto 2rem;
    		padding:1rem 1rem 1rem 3rem;
    		border-bottom:1px solid $borderColor;
    		img{
    			position: absolute;
    			width: 2rem;
    			height: 2rem;
    			left: 0;
    			top:50%;
    			margin-top: -1rem;
    		}

    		label{
    			display: block;
    			color: #555;
    		}
    		span{
    			font-size: .8rem;
    			line-height: 1rem;
    		}
    		.iconfont{
    			position: absolute;
    			right: 1rem;
    			top: 50%;
    			margin-top: -.8rem;
    		}
    	}
    	li.add{
    		padding-left:0;
    		font-size: 1rem;
    	}
    	li.disabled{
    		opacity: .5;
    		.iconfont{
    			display: none;
    		}
    	}
    	li:last-child{
    		border-bottom:none;
    	}
	}
}