@import "../base";
.coupon{
	padding-top:2.5rem;
	color:#999;
	font-size:.9rem;
	.noticemsg{
		background: #fff7ca url(/static/img/ic_notice.png) no-repeat 1rem center; 
		background-size:auto 1rem;
		border-bottom: 1px solid $borderColor;
		padding:.3rem 2.5rem;
		font-size: .8rem;
	}
	.group{
		margin-top: 1rem;
		background:#fff;
		border-bottom: 1px solid $borderColor;
		box-shadow: 0 2px 4px $blue;
		position: relative;
		.split{
			position: absolute;
			height: 1rem;
			top:-.2rem;
			width: 100%;
			background:url(/static/img/split_line1.png) no-repeat top;
			background-size:contain;
		}
		li{
			font-size: .8rem;
			line-height: 1.4rem;
		}
		span{
			position: absolute;
			top:0;
			right: 1rem;
			font-size: 2.3rem;
			color: $blue;
		}
		span:before{
			font-size: 1rem;
		}
		.iconfont{
			width: .5rem;
			height: .5rem;
			font-size: .8rem;
			position: absolute;
			bottom:.5rem;
			right: 1.5rem;
			padding:.5rem;
			color: $blue;
			text-align: center;
			border:1px solid $blue;
			border-radius:.8rem;
		}
		.iconfont:before{
			position: absolute;
			top: .25rem;
			left: .2rem;
		}
		.iconfont{
			transform:rotate(90deg);
		}
	}
	.group.disabled{
		opacity: 0.8;
		box-shadow: 0 2px 4px #e6e6e6;
		span{
			color: #999;
		}
		.iconfont{
			display: none;
		}
	}
	.group.unfold{
		.iconfont{
			transform:rotate(-90deg);
		}
		.iconfont:before{
			top: .3rem;
		}
		.rules{
			display: block;
		}
	}
	.detail{
		position: relative;
		padding:1rem 1rem .5rem;
		border-bottom:1px dashed $borderColor;
		margin:0 1rem -1px;
		background: url(/static/img/water_logo.png) no-repeat 65% -.3rem;
		background-size:auto 75%;
		.name{
			font-size: 1rem;
			color: #555;
		}
	}
	.rules{
		display: none;
		margin:0 1rem;
		padding:.5rem 1rem 1rem;
		font-size: .8rem;
	}

	.btnbar{
		text-align: center;
		padding-top:2rem;
		.btn{
			display: inline-block;
			width: 8rem;
			background:transparent;
			color: $blue;
			border-color:$blue;
		}
	}
	
}