/* wo ye zao kan zhege dai ma bushunyanle*/
@import "../base";
@import '../rem';
.flashBank{

.code{
  background:none;
}
.submit button{
  font-size: 1rem;
}
.forget a{
  font-size: 0.8rem;
}
$normalBlue:#3d3dcb;
$normalGrey:#d5d5d5;
$fontBlack:#555555;
$fontGrey:#999999;
$lineGrey:#ebebeb;
$btnGrey:#888888;
$normalYellow:#ffa11b;
$placeholder:#cecece;
$verticalLine:#e3e3e3;
button{
  border:none;
}
input,button{border:none;}
.hide-content{
  display: none!important;
}
.img-container{
  display: none;
}

.verifyNotice{
  color: #999;
  font-size: .8rem;
  margin: .7rem 1rem 0;
  display: none;
}

.blanketVerify-container{
  @include Rem(margin-top,20);
  .info{
    text-align: center;
    background: #fff;
    @include Rem(padding-bottom,30);
    .key{
      @include Rem(font-size,28);
      color:$fontGrey;
      @include Rem(padding-top,30);
      @include Rem(padding-bottom,30);
    }
    .value{
      color:#555555;
      @include Rem(padding-bottom,30);
      @include Rem(font-size,36);
    }
  }
  .item{
    display: flex;
    align-items: center;
    background: #fff;
    @include Rem(padding,30);
    border: 1px solid #eeeeee;
    margin-bottom: -1px;
    .inner{
      position: relative;
      height:1.5rem;
      .key{
        display: block;
        @include Rem(font-size,28);
        color:$fontGrey;
        width: 4rem;
      }
      input{
        position:absolute;
        @include Rem(font-size,28);
        display: block;
        left:4.5rem;
        top:0;
        //width:68% !important;
      }
    }
  }
  #imgcode1{
    border-top:none;
    position: relative;
    .right{
      position: absolute;
      height: 100%;
      top: 0;
      right:0;
      text-align: right;
      img{
        display: inherit;
        height: 100%;
        position: absolute;
        right: 0;
        width: 10rem;
      }
    }
  }
  .forget{
    position: relative;
    @include Rem(height,100);
    @include Rem(line-height,100);
    text-align: right;
    @include Rem(padding-right,30);
    a{
      color:$normalBlue;
    }
    a:active{
      color:$fontGrey;
    }
  }
  .submit{
    @include Rem(margin-top,60);
    text-align: center;
    button{
      @include Rem(padding-top,20);
      @include Rem(padding-bottom,20);
      @include Rem(width,690);
      background: #ffa11b;
      color:#fff;
      border-radius: 3px;
    }
  }
}
.blanketVerify-container{
  @include Rem(margin-top,20);
  .item{
    display: flex;
    align-items: center;
    background: #fff;
    @include Rem(padding,30);
    .inner{
      position: relative;
      width:100%;
      input{
        @include Rem(font-size,28);
      }
      .vertical-line{
        @include Rem(margin-right,10);
        color:$verticalLine;
      }
      button{
        position:absolute;
        border: none;
        color:$normalBlue;
        @include Rem(font-size,28);
        @include Rem(width,180);
      }
      button[disabled]{
        color: #999;
      }
      label{
        display:inline-block;
        @include Rem(width,180);
        text-align:center;
      }
    }
    .left{
      @include Rem(width,450);
    }
    .right{
      @include Rem(width,190);
    }
  }
  .submit{
    @include Rem(margin-top,80);
    text-align: center;
    button{
      @include Rem(padding-top,20);
      @include Rem(padding-bottom,20);
      @include Rem(width,690);
      background: #ffa11b;
      color:#fff;
      border-radius: 3px;
    }
  }
}
.process{
  background: rgba(0,0,0,.6);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom:0;
  right: 0;
  z-index: 990;
  .process-container{
    @include Rem(width,520);
    @include Rem(height,520);
    position: absolute;
    z-index: 100;
    background: #fff;
    text-align: center;
    padding-top: 3.33333rem;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    // transform: translate(-50%,-50%);
    // transform-origin: 50% 50%;
    @include Rem(margin-top,-260);
    @include Rem(margin-left,-260);
    #canvas{
      width: 140px !important;
      height: 140px !important;
    }
    .text{
      @include Rem(font-size,34);
      @include Rem(height,180);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #555;
      width: 80%;
      padding: 0 10%;
      text-align: center;
      span{
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
      }
    }
  }
}
.summaryTip{
    width: 23rem;
    margin: 0 auto;
    padding: 0.6rem 0;
    color: #999;
    font-size:0.8rem;
}

.blanketVerify-container{ 
  .item{
    position:relative;
  }
  .item.full{
    margin-bottom: 2rem;
    input{
        width: 80%;
        left: 4.5rem;
      }
      label{
        width: 100%;
        margin-top: .3rem;
        text-align: left;
        color: #999;
        position: absolute;
        min-height: 1rem;
        top:2.3rem;
        background: #fffadc;
        padding: .5rem 1rem;
        margin-left: -1rem;
        color: #ffa11b;
      }
  }
  .right{
      position:absolute !important;
      right: 1rem;
      // width: 30%;
      top:1rem;
      img{
        width:100%;
        height: 100%;
      }
    }
}
.prompt{
  display: none;
}  

.itemTitle{
  width:4rem;
  span{
    font-size:0.93333rem;
    color:#999;
  }
}
.itemCheck{
  margin-left: 0.5rem;
  color:#555;
  position: absolute;
  left: 5rem;
  top:1rem;
  @include Rem(font-size,28);
  p{
    display: inline-block;
    position:relative;
  }
  label{
    display: inline-block;
  }
  p:first-child{
    margin-right: 1rem;
  }
  input[type="radio"]{
    opacity: 0;
    position:absolute;
    width: 1.5rem;
    height:1.5rem;
    top:0;
    left:0;
  }
  span{
    display: inline-block;
    margin-right: 0.3rem;
    @include Rem(width,30);
    @include Rem(height,30);
    vertical-align: middle;
    border-radius:3px;
    border:1px solid #ccc;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:#fff;
  }
  input[type="radio"]:checked +span{
    background:url(/static/img/checked.jpg) no-repeat;
    background-size:100%;
  }
}
}