/*created by w at 20161223*/
@import "../base";
.forgetServicePassword{
  background: #f0f3f5;
  padding-bottom:1.5rem;
  overflow:hidden;
  padding-top:2.5rem;
  button{border:none;}
  .title{
    padding:0.83rem 0;
    font-size: 0.933rem;
    color:#555;
    text-indent: 1rem;
  }
  .stepDetail{
    text-align:center;
    padding-top:1rem;
    background: #fff;
    padding-bottom:1.5rem;
  }
  .stepTitle{
    img{
      display: inline-block;
      vertical-align: middle;
      width: 1.8rem;
      height: 1.63333rem;
    }
    span{
      vertical-align: middle;
      color:#999;
      font-size: 1.133rem;
    }
  }
  .mobile{
    display: block;
    text-align: center;
    color:#555;
    font-size: 1.13rem;
    padding:1rem 0 1.4rem 0;
  }
  button{
    color:#fff;
    display: inline-block;
    border-radius:3px;
    font-size: 1.1rem;
    background: #ffa11b;
    padding:0.5rem 1.2rem;
    margin:0 auto;
  }
  .summary{
    margin-top: 1.4rem;}
  .summary img{
    display: inline-block;
    width:45%;
    margin:0 auto;
  }
  .resetStep1,.resetStep2{
    width:100%;
    border-bottom:1px solid $borderColor;
  }
  .resetStep2 img{
    width:1rem;
    height:1rem;
  }
  .resetStep2 .stepTitle{
    padding:1rem 0 1.5rem 0;
  }
}